@charset "UTF-8";

.buttons-grafic-table {
    display: flex;
    height: 12vh;
    width: 100%;
    justify-content: center;
    align-items: flex-end;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    border: 0.1vmin solid black;
    background-color: rgb(206, 204, 204);
    height: 50%;
    width: 20%;
}

.button-left {
    font-size: 2.8vmin;
    border-bottom-left-radius: 2vmin;
    border-top-left-radius: 2vmin;
}

.button-right {
    font-size: 2.8vmin;
    border-bottom-right-radius: 2vmin;
    border-top-right-radius: 2vmin;
}