@charset "UTF-8";

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 108, 117);
    height: 17vh;
    width: 100%;
}

.title {
    font-size: 6.2vmin;
    color: white;
}
